// LoginForm.scss
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0e4d7;
    height: 100vh;
    margin-bottom: 50px;
}

.login-form {
    background-color: #fafafa;
    padding: 1.5rem;
    border-radius: 0.5rem;
    width: 25%;
    & h2 {
        margin-bottom: 1.5rem;
    }
    & .MuiButton-root {
        width: 100%;
        border-radius: 0;
        margin-top: 1rem;
    }
    & .MuiLink-root {
        width: 100%;
        display: block;
        text-align: center;
        margin-top: 1rem;
        text-decoration: none;
    }
}
