// src/components/_orchids.scss
.orchids-container {
  margin-bottom: 50px;
  .orchid-item {
    flex: 0 0 100%;
    max-width: 100%;

    @media (min-width: 600px) {
      // 2 items (sm)
      flex: 0 0 50%;
      max-width: 50%;
    }

    @media (min-width: 960px) {
      // 3 items (md)
      flex: 0 0 33.3333%;
      max-width: 33.3333%;
    }

    @media (min-width: 1280px) {
      // 4 items (lg)
      flex: 0 0 25%;
      max-width: 25%;
    }
  }

  .orchid-card {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .orchid-content {
    flex-grow: 1;
  }

  .orchid-actions {
    display: flex;
    justify-content: center; 
  }

  .orchid-detail-button {
    &:hover {
      background-color: #1976d2; 
      color: #fff;
    }
  }
}
