/* _contact.scss */

.contact-section {
  padding: 7em 0; /* Khoảng cách phần trên và dưới của section */
}
.wrapper {
  width: 100%;
}


.info-wrap {
  background-color: #fff; /* Màu nền của phần thông tin liên hệ */
  padding: 20px;
  border-radius: 8px; /* Góc bo tròn */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Đổ bóng */
}

.icon-box {
  font-size: 18px; /* Kích thước biểu tượng */
  margin-right: 10px; /* Khoảng cách với chữ */
}
