.footer {
  min-height: 200px;
  width: 100%;
  &-background {
    background-image: url("../../assets/web/bannerhoa.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  &-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  &-logo {
    color: azure;
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      max-width: 175px;
    }
  }

  &-section {
    flex: 1 1 auto;
    margin: 10px;
    h2 {
      font-size: 1em;
      margin-bottom: 10px;
      text-align: left;
    }
    .social-icons {
      padding-bottom: 20px;
      text-align: left;
    }

    .hotline {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      p {
        font-weight: bold;
        padding-bottom: 20px;
        margin: 10px 0 0 0;
      }
      span {
        font-weight: 400;
        padding-bottom: 10px;
        margin: 5px 0;
      }
    }
  }
  &-bottom {
    text-align: center;
    margin-top: 20px;
    p {
      margin: 0;
    }
  }
}
.icon {
  display: flex;
  justify-content: flex-start;
  font-size: 30px;
  .icon-con {
    padding: 0px 5px;
  }
}
@media (max-width: 768px) {
  .icon {
    justify-content: center;
    margin-top: 10px;
  }
}
