.nav {
  background-color: #333; // Màu nền của thanh điều hướng
  padding: 1rem;
  position: relative;

  .menu-icon {
    display: none; // Ẩn biểu tượng menu ở chế độ desktop
    cursor: pointer;
    color: white;

    @media (max-width: 768px) {
      display: block; // Hiển thị biểu tượng menu ở chế độ di động
    }
  }

  .navbar-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;

    li {
      a {
        color: white; // Màu chữ của các liên kết
        text-decoration: none; // Loại bỏ gạch chân
        padding: 0.5rem 1rem;
        display: block;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #bcd100; // Màu nền khi hover
        }
      }
    }

    @media (max-width: 768px) {
      display: none; // Ẩn danh sách menu ở chế độ di động
      flex-direction: column; // Chuyển đổi thành dọc

      &.open {
        display: flex; // Hiển thị danh sách menu khi mở
      }

      li {
        margin: 0.5rem 0; // Tạo khoảng cách giữa các mục menu
      }
    }
  }
}
