/* src/components/Orchids.css */

.orchids-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    padding: 16px;
    margin: 0 25px;
}

.orchid-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    background-color: #fff;
}

.orchid-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.orchid-item h3 {
    margin: 8px 0;
    font-size: 1.2em;
}

.orchid-item p {
    margin: 4px 0;
}

.orchid-item a {
    display: block;
    margin-top: 8px;
    color: #007bff;
    text-decoration: none;
}

.orchid-item a:hover {
    text-decoration: underline;
}

/* src/components/OrchidDetail.css */

.orchid-detail {
    max-width: 600px;
    margin: 0 auto;
    padding: 16px;
    text-align: center;
}

.orchid-detail img {
    width: 100%;
    border-radius: 8px;
}

.orchid-detail h3 {
    margin: 16px 0;
    font-size: 1.5em;
}
/* src/OrchidDetail.css */
.orchid-detail {
    text-align: center;
    padding: 20px;
  }
  
  .detail-image {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  

/* src/components/Contact.css */

.contact {
    max-width: 600px;
    margin: 0 auto;
    padding: 16px;
    text-align: center;
}

.contact h2 {
    margin-bottom: 16px;
}
/* src/Contact.css */
.contact {
    text-align: center;
    padding: 20px;
  }
  
  .contact p {
    margin: 10px 0;
  }
  

/* src/App.css */

.App {
    text-align: center;
}

.navbar {
    margin-bottom: 24px;
    background-color: #333;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a {
    margin: 0 8px;
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    
}

nav a:hover {
    text-decoration: none;
}
/* src/App.css */
body.light {
    background-color: white;
    color: black;
  }
  
  body.dark {
    background-color: black;
    color: white;
  }
  
  .App {
    text-align: center;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
/* src/OrchidModal.css */
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 90%;
    position: relative;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
  }
  
  .modal-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  