.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;

    .button-add {
        margin-bottom: 20px;
        text-align: left;
    }

    .admin-table {
        width: 100%;
        border-collapse: collapse;
        border: 1px solid #ccc;
        margin-top: 20px;

        th,
        td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ccc;
        }

        th {
            background-color: #f0f0f0;
            font-weight: bold;
        }

        img {
            max-width: 100px;
            height: auto;
        }

        .button-container {
            display: flex;
            gap: 10px;
        }

        @media (max-width: 768px) {
            th,
            td {
                padding: 8px;
                font-size: 14px;
            }
            img {
                max-width: 80px;
            }
        }

        @media (max-width: 576px) {
            th,
            td {
                padding: 6px;
                font-size: 12px;
            }
            img {
                max-width: 60px;
            }
        }
    }
}
